@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes background-slide {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 100% 0;
  }
}

.animation-slow-slide {
  animation: background-slide 180s linear infinite;
}
